// 颜色变量
$purple: #6C56F6;
$purple2: #44445F;
$green: #49d3bd;
$success: #67C23A;
$yellow: #EFCB6C;
$yellow-tag: #f5dfa5;
$warning: #E6A23C;
$error: #b22222;

.error{
    color: $error !important
}


@mixin flexAlignJustify($align, $justify){
    display: flex;
    align-items: $align;
    justify-content: $justify;
}